* {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display:block;
}
/*-----------------------------------
...............HEADER.................
----------------------------------- */
body{
  background: var(--miloticPink);
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: "Playfair Display", serif;
}
header{
  display:flex;
  justify-content: center;
}
.ml16 {
  color: white;
  padding: 40px 0 0 0;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: .5em;
  overflow: hidden;
  margin: 3rem 0 0 .5em;
	text-shadow: 1px 1px 3px #282828;
}
.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}
.logobox{
  width: 120px;
  height: 60px;
  position: fixed;
  top: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 2px 2px 2px;
  border-radius: 0 0 400px 400px;
  z-index: 900;
}
#logo{
  width: 60px;
  margin: 10px 0 0 0;
}
/*...............NAV................
https://codepen.io/melnik909/pen/JpJPYp
....................................*/
/*
=====
LEVEL 1. RESET STYLES
=====
*/

button{
  border: none;
  background-color: transparent;
  padding: 0;
  font-family: inherit;
}

.button{
  cursor: pointer;
  color: var(--colorWhite);
}

nav a{
  display:inline-block;
  text-decoration: none;
}

.link{
  color: inherit;
  padding-left: 30px;
  border: 0 var(--miloticPink) solid;
  transition: border .5s cubic-bezier(.56,.02,.51,.99);
}
.link:hover{
  border-left: 30px var(--miloticPink) solid;
}

.list{
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

/*
=====
LEVEL 2. MENU STYLES
=====
*/

/* menu */

.nav-button{
  box-sizing: border-box;
  width: 100%;
  color: var(--colorWhite);

  display: flex;
  justify-content: center;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9998;
}

.menu{
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 55px;

  height: 0;
  transform: translate3d(0, -100%, 0);
  opacity: 0;

  display: flex;
  align-items: flex-end;

  position: fixed;
  top: 0;
  left: 0;
}

.menu__list{
  box-sizing: border-box;
  width: 100%;
  max-height: 100%;
  display: none;

  padding-top: 30px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.menu__group{
  padding: .5rem 3rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.menu__group_active{
  background-color: var(--colorWhite);
  color: var(--colorBlack);
}

.menu__item{
  padding: 8px 25px;
  display: block;
}

/* hamburger */

.hamburger{
  position: relative;
  line-height: 1;
  padding-bottom: .5em;
}

.hamburger:before{
  content :"";
  width: 100px;
  height: 100px;
  background-color: var(--colorMain);
  border-radius: 50%;

  position: absolute;
  bottom: -55px;
  left: -35px;
}

.hamburger__button{
  width: 1.4em;
  height: 1em;
  font-size: 20px;

  position: relative;
  text-indent: -9999px;
  z-index: 2;
}

.hamburger__button:before, .hamburger__button:after, .hamburger__label{
  width: 100%;
  height: 20%;
  border-radius: 5px;
  background-color: currentColor;

  position: absolute;
  left: 0;
}

.hamburger__button:before, .hamburger__button:after{
  content:"";
}

.hamburger__button:before{
  top: 0;
}

.hamburger__button:after{
  bottom: 0;
}

.hamburger__button:focus{
  outline: none;
}

.hamburger__label{
  margin-top: -.1em;
  top: 50%;
}

/* activated state */

.js-menu_activated{
  overflow: hidden;
}

.js-menu_activated .menu{
  height: 100%;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.js-menu_activated .hamburger:before{
  width: 100vh;
  height: 100vh;
  transform: translate3d(-50vh, -50vh, 0) scale(5);
}

.js-menu_activated .menu__list{
  display: block;
}

.js-menu_activated .hamburger__button:before{
  transform: translate3d(0, -50%, 0) rotate(45deg);
  top: 50%;
}

.js-menu_activated .hamburger__button:after{
  transform: translate3d(0, -50%, 0) rotate(135deg);
  top: 50%;
}

.js-menu_activated .hamburger__label{
  transform: rotate(-45deg) translate3d(-5.71429px,-6px,0);
  opacity: 0;
}

/*
=====
LEVEL 3. MOBILE ANIMATION STYLES
=====
*/

.menu{
  transition: opacity .2s ease-out;
}

.js-menu_activated .menu{
  will-change: opacity;
  transition-duration: .2s;
  transition-delay: .3s;
}

.hamburger:before{
  will-change: width, height;
  transition: transform .3s cubic-bezier(0.04, -0.1, 0.29, 0.98),
  width .3s cubic-bezier(0.04, -0.1, 0.29, 0.98),
  height .3s cubic-bezier(0.04, -0.1, 0.29, 0.98);
}

.js-menu_activated .hamburger:before{
  transition-duration: 1s;
}

.hamburger__button:before, .hamburger__button:after{
  transition-property: transform;
}

.hamburger__button:before, .hamburger__button:after, .hamburger__label{
  transition-timing-function: ease;
  transition-duration: .15s;
}

.hamburger__label{
  transition-property: transform, opacity;
}

/*
=======
SETTINGS
=======
*/

:root{
  --miloticPink: #e1737a;
  --miloticBlue: #7bc3e1;
  --colorBlack: #282828;
  --colorWhite: #fff;
  --colorGray: #f0f0f0;
  --colorMain: var(--miloticBlue);
  --colorMainLight: #8491d8;
  --colorMainDark: #233286;
}

/* -----------------------------------
...............LAYOUT.................
----------------------------------- */
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 0 0;
}
.poke-screen{
  width: 40%;
  max-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--miloticBlue);
  border: 10px white solid;
  border-radius: 1rem;
  margin: 0 0 0 2rem;
}
.poke-screen:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.ui-elements{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 60%;
}
img{
  width: 70%;
  max-width: 200px;
}
.dpad{
  width: 30%;
  max-width: 150px;
}
.border-div{
  border: 10px white solid;
  border-radius: 1rem;
  overflow: hidden;
  margin: 3%;
  max-width: 900px;
}
.poke-info{
  max-height: 50vh;
  overflow-y: auto;
  background-color: #282828;
  color: #eaeaea;
  display: flex;
  flex-wrap: wrap;
  padding: 3% 0;
  margin: 0;
}
.poke-info h4{
  width: 100%;
  text-align: left;
  margin: 1rem .2rem .2rem .2rem;
}
.poke-info p{
  width: 100%;
  margin: .2rem;
}
/* -----------------------------------
.............TYPOGRAPHY...............
----------------------------------- */
p{
  font-family: "Lato", sans-serif;
  font-size: .9rem;
}

/* -----------------------------------
................MISC..................
----------------------------------- */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--miloticBlue),#54a4c6);
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#54a4c6,var(--miloticBlue));
}
/* -----------------------------------
...........MEDIA QUERIES..............
----------------------------------- */
@media (min-width: 625px) {
  .poke-info h4{
    width: 20%;
    text-align: right;
    margin: 1rem .2rem;
  }
  .poke-info p{
    width: 70%;
    margin: 1rem .2rem;
  }
}
@media (min-width: 780px) {
	.ml16{
		font-size: 3.6em;
		letter-spacing: 1em;
		margin-left: 1em;
	}
@media (min-width: 900px) {
  main{
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .ui-elements{
    flex-direction: column;
    width: 30%;
    align-items: flex-end;
    margin: 3% 0;
  }
  .poke-screen{
    width: 100%;
    border-radius: 2rem;
  }
  .dpad{
    width: 50%;
    margin: 10%;
  }
  .border-div{
    border-radius: 2rem;
    width: 60%;
  }
}
